/* You can add global styles to this file, and also import other style files */
html{
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 60px;
  }
  
  .wrap{
    padding-bottom: 60px;
  }
  
  html, body { height: 100%; }
  body { margin: 0; font-family: 'Roboto', sans-serif; }
  